<H1><B>DAY 22

---

<H2>Working with Missing Data in Pandas</H2>

---

Missing Data can occur when no information is provided for one or more items or for a whole unit. Missing Data is a very big problem in a real-life scenarios. Missing Data can also refer to as NA(Not Available) values in pandas. In DataFrame sometimes many datasets simply arrive with missing data, either because it exists and was not collected or it never existed.

Pandas missing data is represented by two value:

**None**: None is a Python singleton object that is often used for missing data in Python code.

**NaN** : NaN (an acronym for Not a Number), is a special floating-point value recognized by all systems that use the standard IEEE floating-point representation

In [1]:

import pandas as pd


import numpy as np

dict = {'First ':[100, 90, np.nan, 95],
		'Second ': [30, 45, 56, np.nan],
		'Third ':[np.nan, 40, 80, 98]}


df = pd.DataFrame(dict)

df.isnull()

   First   Second   Third
0   False    False    True
1   False    False   False
2    True    False   False
3   False     True   False

In [2]:

df.notnull()

   First   Second   Third
0    True     True   False
1    True     True    True
2   False     True    True
3    True    False    True

In [3]:
df.fillna(0)

   First   Second   Third
0   100.0     30.0     0.0
1    90.0     45.0    40.0
2     0.0     56.0    80.0
3    95.0      0.0    98.0

In [4]:
df.fillna(method ='bfill')

   First   Second   Third
0   100.0     30.0    40.0
1    90.0     45.0    40.0
2    95.0     56.0    80.0
3    95.0      NaN    98.0

In [5]:
dict = {'First Score':[100, 90, np.nan, 95],
        'Second Score': [30, np.nan, 45, 56],
        'Third Score':[52, 40, 80, 98],
        'Fourth Score':[np.nan, np.nan, np.nan, 65]}
 

df = pd.DataFrame(dict)

df.dropna()

   First Score  Second Score  Third Score  Fourth Score
3         95.0          56.0           98          65.0

In [6]:
df.dropna(how = 'all')

   First Score  Second Score  Third Score  Fourth Score
0        100.0          30.0           52           NaN
1         90.0           NaN           40           NaN
2          NaN          45.0           80           NaN
3         95.0          56.0           98          65.0

In [7]:
df.dropna(axis = 1)

   Third Score
0           52
1           40
2           80
3           98