<H1><B>DAY 17

---

<H2>Pandas Series

---

A Pandas Series is like a column in a table.

It is a one-dimensional array holding data of any type.

In [1]:
import pandas as pd

a = [1,2,3,4,5]

var = pd.Series(a)

print(var)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [4]:
print(var[0])

1

<H3>Create Labels</H3>

With the index argument, you can name your own labels.

In [5]:
import pandas as pd

a = [1,2,3]

myvar = pd.Series(a, index = ["A", "B", "C"])

print(myvar)

A    1
B    2
C    3
dtype: int64

In [6]:
import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories)

print(myvar)

day1    420
day2    380
day3    390
dtype: int64