<H1><B>DAY 18

---

<H2>Pandas DataFrames

---

A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.

In [1]:
import pandas as pd

data = {
  "WEIGHT": [420, 380, 390],
  "PRICE": [50, 40, 45]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)

print(df)

   WEIGHT  PRICE
0     420     50
1     380     40
2     390     45

In [2]:
print(df.loc[0])

WEIGHT    420
PRICE      50
Name: 0, dtype: int64

In [3]:
print(df.loc[[0, 1]])

   WEIGHT  PRICE
0     420     50
1     380     40

In [4]:
df = pd.DataFrame(data, index = ["day1", "day2", "day3"])

print(df)

      WEIGHT  PRICE
day1     420     50
day2     380     40
day3     390     45

In [5]:
print(df.loc["day2"])

WEIGHT    380
PRICE      40
Name: day2, dtype: int64